/* navbar */
.navbar {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}
/* Title */
.navbar .navbar-brand {
    color: #777;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #5E5E5E;
}
/* Link */
.navbar .navbar-nav > li > a {
    color: #777;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
    color: #333;
}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar.navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* Caret */
.navbar.navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}


.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  width: auto;
}

.footer{
   

  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px; 
  color: #777;
  background-color: #FFFFFF;

}



.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid transparent;
}

body{

background:#eee;
font-family: 'Roboto',sans-serif;

}

.divider {
  height: 20px;
  display: block;
}

/* ========================================================================
 * FORM MISC
 * ======================================================================== */
.input-group-addon {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  min-width: 39px;
}
.input-group-addon .ckbox, .input-group-addon .rdio {
  position: absolute;
  top: 4px;
  left: 10px;
}

.input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn, .input-group-sm > .form-control, .input-group-sm > .input-group-addon, .input-group-sm > .input-group-btn > .btn, .input-group-xs > .form-control, .input-group-xs > .input-group-addon, .input-group-xs > .input-group-btn > .btn {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

.input-sm, .form-group-sm .form-control {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

.form-control {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

@media (max-width: 640px) {
  .form-inner-all [class*="col-"]:last-child .form-control {
    margin-top: 15px;
  }
}


/* ========================================================================
 * PROFILE
 * ======================================================================== */
.profile-cover {
  width: 100%;
}
.profile-cover .cover {
  position: relative;
  border: 10px solid #FFF;
}
.profile-cover .cover .inner-cover {
  overflow: hidden;
  height: auto;
}
.profile-cover .cover .inner-cover img {
  border: 1px solid transparent;
  text-align: center;
  width: 100%;
}
.profile-cover .cover .inner-cover .cover-menu-mobile {
  position: absolute;
  top: 10px;
  right: 10px;
}
.profile-cover .cover .inner-cover .cover-menu-mobile button i {
  font-size: 17px;
}
.profile-cover .cover ul.cover-menu {
  padding-left: 150px;
  position: absolute;
  overflow: hidden;
  left: 1px;
  float: left;
  bottom: 0px;
  width: 100%;
  margin: 0px;
  background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.24);
}
.profile-cover .cover ul.cover-menu li {
  display: block;
  float: left;
  margin-right: 0px;
  padding: 0px 10px;
  line-height: 40px;
  height: 40px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.profile-cover .cover ul.cover-menu li:hover {
  background-color: rgba(0, 0, 0, 0.44);
}
.profile-cover .cover ul.cover-menu li.active {
  background-color: rgba(0, 0, 0, 0.64);
}
.profile-cover .cover ul.cover-menu li a {
  color: #FFF;
  font-weight: bold;
  display: block;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
}
.profile-cover .cover ul.cover-menu li a i {
  font-size: 18px;
}
.profile-cover .profile-body {
  margin: 0px auto 10px;
  position: relative;
}
.profile-cover .profile-timeline {
  padding: 15px;
}
.img-post{
    width:30px;
    height:30px;
}
.img-post2{
    width:50px;
    height:50px;
}


.panel .panel-heading {
    line-height: 20px;
    height: 70px;
    padding-top: 15px
}

.activity .panel .panel-heading img {
    height: 40px;
    margin: 0 15px 15px 0;
    float: left
}

.activity .panel .panel-heading .small {
    color: #d1d4d7
}

.activity .panel .panel-heading .pull-right {
    font-size: 12px;
    color: #d1d4d7
}

.activity .panel .panel-heading .pull-right i {
    font-size: 14px
}

.activity .panel .panel-body .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden
}

.activity .panel .panel-body .video-container iframe,
.activity .panel .panel-body .video-container object,
.activity .panel .panel-body .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.activity .panel .panel-body .actions {
    background: #f8f9fa;
    margin: 15px -15px 0 -15px;
    padding: 0 20px 0 10px;
    line-height: 50px;
    font-size: 12px
}

.activity .panel .panel-body .actions .btn {
    font-size: 12px;
    text-decoration: none
}

.activity .panel .panel-body .media-object {
    width: 30px
}

.activity .panel .panel-body .group-image {
    width: 50px;
}

.activity .panel .panel-body .media .media-body .media-heading {
    font-weight: 500
}

.activity .panel .panel-body .media .media-body .small {
    color: #d1d4d7
}

.activity .panel .panel-body .media .media-body p {
    margin-top: 10px;
    font-size: 12px
}

/**
* Particles
**/
------------------------------------------------------------- */
.jumbotron.jumbotron-main { 
  height: 100%;
  width: 100%;
    background-size: 100% 100%;

  font-family: 'Roboto', sans-serif;
  color: #fff;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  margin:0;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background: #6819e8; /* Old browsers */
  background: -moz-linear-gradient(left, #6819e8 0%, #7437d0 35%, #615fde 68%, #6980f2 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #0066CC 0%,#0080FF 35%,#3399FF 68%,#66B2FF 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #0066CC 0%,#0080FF 35%, #3399FF 68%,#66B2FF 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6819e8', endColorstr='#6980f2',GradientType=1 ); /* IE6-9 */
}

.jumbotron.jumbotron-main hr {
  border-width: 1px 0px;
    border-style: dotted none;
    border-color: rgba(255, 255, 255, 0.35);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    width: 49px;
    height: 4px;
    text-align: center;
    position: relative;
    clear: both;
}

.jumbotron.jumbotron-main a {
    color: #fff;
}


.jumbotron.jumbotron-main h3 {
    color: white;
}

.jumbotron.jumbotron-main h1 {
    color: white;
}
.center-vertically {
    display: table-cell;
    vertical-align: middle;
    height: 1000%;
}

.center-upper {
   display: table-cell;
    vertical-align: -10%;
    height: 100%;
}
.center-vertically-holder { 
  display: table;
  height: 70%;
}

.scroll-indicator {
  padding-top:6px;
    display: inline-block;
    width: 50px;
}

.arrow-scroll-indicator {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.60);
}

.parallax-window {
    background: transparent;
}


.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .ui-datepicker {
      font-family:Garamond;
      font-size: 11px;
      margin-left:10px;
   }




   /* .full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .ui-datepicker {
      font-family:Garamond;
      font-size: 11px;
      margin-left:10px;
   } */
   .my-datepicker {
      font-family:Garamond;
      font-size: 11px;
      margin-left:10px;
      width:220;
   }
   .dropdown-menu table {
      height: 300px;
      width: 350px;
    }


button.followButton.following{
background-color: #57A957;
background-repeat: repeat-x;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
border-color: #57A957 #57A957 #3D773D;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
color:#fff;
}
button.followButton.unfollow{
background-color: #C43C35;
background-repeat: repeat-x;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
border-color: #C43C35 #C43C35 #882A25;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}