

<div ng-controller="GuestTimelineCtrl" class="container bootstrap snippets">
    
    <div class="row background-container" style="margin-top: 60px;">
        <div class="col-lg-3 col-md-3 col-sm-4">
            <!--
            <div class="panel rounded shadow">
                <div class="panel-body">
                    <div class="inner-all" >
                       
                    </div>
                </div>
            </div>--><!-- /.panel -->
    

            <div class="panel panel-theme rounded shadow" ng-controller="GroupCtrl">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="pull-left">
                        <h3 class="panel-title"><strong>Popular Groups in InterestHub</strong> </h3>
                    </div>
                    
                    <!-- <div class="clearfix"></div> -->
                </div><!-- /.panel-heading -->
                </div>
            
            <div class="panel-body no-padding rounded">
                <ul class="list-group no-margin" ng-repeat="group in groups">
                    <li class="list-group-item"><a href="/group-timeline">{{group.name}}</a></li>
                 
               
                </ul>
                

            </div><!-- /.panel-body -->
           
          

              
            </div><!-- /.panel -->
    
        </div>
       
        <div class="col-lg-9 col-md-9 col-sm-8">
    
    
        <div class="row activity">
    
                   
            <div class="col-md-8" >
                     <!-- <div class="panel panel-info">
                        <div class="panel-body">
                            <form action="...">
                                <textarea class="form-control input-lg no-border" rows="2" placeholder="Write something"></textarea>
                            </form>
                        </div>
                        <div class="panel-footer">
                            <div class="btn-group">
                                <button type="button" class="btn btn-link"><i class="fa fa-map-marker"></i></button>
                                <button type="button" class="btn btn-link"><i class="fa fa-users"></i></button>
                                <button type="button" class="btn btn-link"><i class="fa fa-camera"></i></button>
                                <button type="button" class="btn btn-link"><i class="fa fa-video-camera"></i></button>
                                <button type="button" class="btn btn-link"><i class="fa fa-calendar-o"></i></button>
                            </div>
                            
                            <div class="pull-right">
                                <button type="button" class="btn btn-success">post</button>
                            </div>  
                        </div>
                    </div> -->
                    <div class="panel panel-info">
                            
                    <div class="panel-heading">
                            <h2 style="margin: 5px;margin-left: 150px;"><strong>Popular Posts</strong></h2>
                          </div>
                    </div>
                    <div ng-controller="ContentCtrl">
                    


                   <div class="panel panel-info" ng-repeat="post in posts">
                        <div class="panel-heading">
                            <img src="https://gitlab.com/uploads/-/system/user/avatar/56386/tt_avatar_small.jpg" class="img-rounded">
                            <div class="pull-right text-right">
                                <i class="fa fa-calendar"></i><br> {{post.created_date | cmdate:'dd/MM/yyyy'}}
                            </div>
                            <div><strong>{{post.owner.username}}</strong></div>
                            <!--<div class="small"><i class="fa fa-map-marker"></i> Medellin, Colombia</div>-->
                        </div>
                        <div class="panel-body">
                            <div id="components" ng-repeat="component in post.components">
                                <p>{{component.long_text}}</p>
                               
                            </div>
                             <div class="actions">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-link"><i class="fa fa-thumbs-o-up"></i> Like</button>
                                        <button type="button" class="btn btn-link"><i class="fa fa-share"></i> Share</button>
                                    </div>
                                    <div class="pull-right"><strong>{{post.likes}}</strong> People liked this</div>      
                                </div>  
                            <!--
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img class="media-object img-rounded" src="https://bootdey.com/img/Content/avatar/avatar2.png">
                                </a>
                                <div class="media-body">
                                    <div class="pull-right small">3 hours ago</div>
                                    <h4 class="media-heading">Media heading</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                </div>
                            </div>
                            
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img class="media-object img-rounded" src="https://bootdey.com/img/Content/avatar/avatar2.png">
                                </a>
                                <div class="media-body">
                                    <div class="pull-right small">3 hours ago</div>
                                    <h4 class="media-heading">Media heading</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                </div>
                            </div>
                            
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img class="media-object img-rounded" src="https://bootdey.com/img/Content/avatar/avatar2.png">
                                </a>
                                <div class="media-body">
                                    <div class="pull-right small">3 hours ago</div>
                                    <h4 class="media-heading">Media heading</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                </div>
                            </div>
                            -->
                        </div>
                        <div class="panel-footer">
                            <input  class="form-control" placeholder="Write a comment...">
                        </div>
                    </div>
                </div>

    
            </div>
    
            <div class="col-md-4">
                <div class="panel panel-info">
                     <div class="panel-heading">
                    <div class="pull-left">
                        <h3 class="panel-title">Sign Up?</h3>

                            <div style="margin-top: 20%;">
                                 <form id="login-form" >
                                   <div class="login-container ">
                                     <div class="row">
                                     <div class="col-md-12">
                                         <div class="form-group">
                                           <label>First Name</label>
                                           <input name="fname" ng-model="user.firstname" required class="form-control">                              
                                           <div ng-show="myForm.fname.$error.required &amp;&amp; myForm.fname.$touched" class="error">Required!</div>
                                         </div>
                                       </div>
                                     <div class="col-md-12">
                                         <div class="form-group">
                                           <label>Last Name</label>
                                           <input name="lname" ng-model="user.lastname" required class="form-control">                              
                                           <div ng-show="myForm.lname.$error.required &amp;&amp; myForm.lname.$touched" class="error">Required!</div>
                                         </div>
                                       </div>
                                       <div class="col-md-12">
                                         <div class="form-group">
                                           <label>Email</label>
                                           <i class="fa fa-email"></i> 
                                           <input type="email" name="email" ng-model="user.username" required class="form-control">                              
                                           <div ng-show="myForm.email.$error.email" class="error">Invalid email!</div>
                                           <div ng-show="myForm.email.$error.required &amp;&amp; myForm.email.$touched" class="error">Required!</div>
                                         </div>
                                       </div>
                                       <div class="col-md-12">
                                         <div class="form-group">
                                           <label>Password</label>
                                           <i class="fa fa-lock"></i>
                                           <input type="password" name="pass" ng-model="user.password" required class="form-control">
                                           <div ng-show="myForm.pass.$error.required &amp;&amp; myForm.pass.$touched" class="error">Required!</div>
                                         </div>
                                       </div>
 
                                     
                                     
                                       <div class="col-md-12">
                                         <div class="form-group text-center">
                                           <a ng-click="signup(user)"  class="btn btn-block btn-success" ng-disabled="myForm.$invalid">
                                             <span class="fa fa-sign-in"></span> Sign up
                                           </a>
                                           <div class="clearfix"></div>
                                         </div>
                                       </div>
 
                                     <br/>
                                       <!--
                                      <div class="col-md-12">
                                         <div class="form-group text-center">
                                           <a ng-click="loginWithFacebook()" class="btn btn-block btn-social btn-facebook">
                                             <span class="fa fa-facebook"></span> Sign in with Facebook
                                           </a>
                                         </div>
                                       </div>
                                     
                                      <div class="col-md-12">
                                         <div class="form-group text-center">
                                           <a ng-click="loginWithGoogle()" class="btn btn-block btn-social btn-google">
                                             <span class="fa fa-google"></span> Sign in with Google
                                           </a>
                                         </div>
                                       </div>
                                     
                                     <div class="col-md-12">
                                         <div class="form-group text-center">
                                           If you don't have account yet, <a href="#signup">Sign up</a>
                                         </div>
                                       
                                     </div>
                                
                                     </div>
                                     
                                   </div>
                                 </form>
                                </div>
                      
                    </div>
                   
                </div><!-- /.panel-heading -->
                <div class="panel-body rounded">
                        
                    
                       
                 
                </div>
                    
                </div>
            </div>
           
        </div>
        </div>
        </div>
    
    
    </div>