

<div ng-controller="ProfileCtrl" class="container bootstrap snippets">
<div class="row" style="margin-top: 60px;">
    <div class="col-lg-3 col-md-3 col-sm-4">
        <div class="panel rounded shadow">
            <div class="panel-body">
                <div class="inner-all" >
                    <ul class="list-unstyled">
                        <li class="text-center">

                            <img data-no-retina="" class="img-rounded img-responsive img-bordered-primary" ng-src= "http://34.209.230.231:8000/{{user.profile.photo}}">
                        </li>
                        <li class="text-center">
                            <h4 class="text-capitalize">{{user.profile.name}} {{user.profile.lastname}}</h4>
                            <p class="text-muted text-capitalize"></p>
                        </li>
                        <li>
                            <a href="" ng-show="!me && !follow" ng-click="followUser()" class="btn btn-info text-center btn-block">Follow</a>
                            <a href="" ng-show="!me && follow" ng-click="unfollowUser()" class="btn btn-danger text-center btn-block">Unfollow</a>
                        </li>
                        <li><br></li>
                        <li>
                            <!--
                            <div class="btn-group-vertical btn-block">
                                <a href="" class="btn btn-default"><i class="fa fa-cog pull-right"></i>Edit Account</a>
                                <a href="" class="btn btn-default"><i class="fa fa-sign-out pull-right"></i>Logout</a>
                            </div>
                            -->
                        </li>
                    </ul>
                </div>
            </div>
        </div><!-- /.panel -->

        <div class="panel panel-theme rounded shadow">
            <div class="panel-heading">
                <div class="pull-left">
                    <h3 class="panel-title"><strong>About Me</strong></h3>
                </div>
                <!--
                <div class="pull-right">
                    <a href="user.facebook" ng-show="user.facebook" class="btn btn-sm btn-info"><i class="fa fa-facebook"></i></a>
                    <a href="user.twitter" ng-show="user.twitter" class="btn btn-sm btn-info"><i class="fa fa-twitter"></i></a>
                    <a href="user.google" ng-show="user.google" class="btn btn-sm btn-info"><i class="fa fa-google-plus"></i></a>
                </div>
                -->
                <!--<div class="clearfix"></div>-->
            </div><!-- /.panel-heading -->
            <div class="panel-body no-padding rounded">
                <ul class="list-group no-margin">
                    <p>{{user.profile.about}}</p>
                    
                    <!--
                    <li class="list-group-item"><i class="fa fa-envelope mr-5"></i> {{user.email}}</li>
                    <li class="list-group-item"><i class="fa fa-globe mr-5"></i> {{user.website}}</li>
                    <li class="list-group-item"><i class="fa fa-phone mr-5"></i> {{user.phone}}</li>
                    -->
                </ul>
                 
            </div><!-- /.panel-body -->
        </div><!-- /.panel -->

    </div>
    <div class="col-lg-9 col-md-9 col-sm-8">

    <div class="profile-cover">
        <div class="cover rounded shadow no-overflow">
            <div class="inner-cover">
                <!-- Start offcanvas btn group menu: This menu will take position at the top of profile cover (mobile only). -->
                <div class="btn-group cover-menu-mobile hidden-lg hidden-md">
                    <button type="button" class="btn btn-theme btn-sm dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bars"></i>
                    </button>
                    <ul class="dropdown-menu pull-right no-border" role="menu">
                        <li class="active"><a href="#"><i class="fa fa-fw fa-clock-o"></i> <span>Timeline</span></a></li>
                        <li><a href="#"><i class="fa fa-fw fa-user"></i> <span>About</span></a></li>
                        <li><a href="#"><i class="fa fa-fw fa-user"></i> <span>Follower</span></a></li>
                        <li><a href="#"><i class="fa fa-fw fa-user"></i> <span>Following</span></a></li>
                        <!--
                        <li><a href="#"><i class="fa fa-fw fa-users"></i><span>Friends </span><small>(23)</small></a></li>
                        <li><a href="#"><i class="fa fa-fw fa-users"></i> <span>Groups</span> <small>(7)</small></a></li>-->
                    </ul>
                </div>
                <img  src="http://bootdey.com/img/Content/flores-amarillas-wallpaper.jpeg" class="img-responsive full-width" alt="cover" style="max-height:200px;">
            </div>
            <ul class="list-unstyled no-padding hidden-sm hidden-xs cover-menu" ng-init="tab='timeline'">
                <li  ng-click="tab = 'timeline'" ng-class="{'active': tab == 'timeline'}"><a href="#"><i class="fa fa-fw fa-clock-o"></i> <span>Timeline</span></a></li>
                <li ng-click="tab = 'about'" ng-class="{'active': tab == 'about'}" ><a href="#"><i class="fa fa-fw fa-user"></i> <span>About</span></a></li>
                <li ng-click="tab = 'follower'" ng-class="{'active': tab == 'follower'}" ><a href="#"><i class="fa fa-fw fa-user"></i> <span>Follower</span></a></li>
                <li ng-click="tab = 'following'" ng-class="{'active': tab == 'following'}" ><a href="#"><i class="fa fa-fw fa-user"></i> <span>Following</span></a></li>

                <!--
                <li ng-click="tab = 'friends'" ng-class="{'active': tab == 'friends'}"> <a href="#"><i class="fa fa-fw fa-users"></i><span> Friends </span><small>(23)</small></a></li>
                <li  ng-click="tab = 'groups'" ng-class="{'active': tab == 'groups'}"><a href="#"><i class="fa fa-fw fa-users"></i><span>Groups</span><small>(7)</small></a></li>-->

                
            </ul>
        </div><!-- /.cover -->
    </div><!-- /.profile-cover -->
    <div class="divider"></div>
    <!--
    <div class="panel rounded shadow">
        <form action="...">
            <textarea class="form-control input-lg no-border" rows="2" placeholder="What are you doing?..."></textarea>
        </form>
        <div class="panel-footer">
            <button class="btn btn-success pull-right mt-5">POST</button>
            <ul class="nav nav-pills">
                <li><a href="#"><i class="fa fa-user"></i></a></li>
                <li><a href="#"><i class="fa fa-map-marker"></i></a></li>
                <li><a href="#"><i class="fa fa-camera"></i></a></li>
                <li><a href="#"><i class="fa fa-smile-o"></i></a></li>
            </ul>--><!-- /.nav nav-pills -->
        <!--</div>--><!-- /.panel-footer -->
    <!--</div>
    --><!-- /.panel -->
    <div class="row activity" ng-show="tab == 'timeline'">
        <div class="col-md-8" >
               
             
                   <div class="panel panel-info" ng-repeat="post in posts " ng-init="postIndex = $index">
                        <div class="panel-heading">
                            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-rounded">
                            <div class="pull-right text-right">
                                <i class="fa fa-calendar"></i><br> {{post.created_date | limitTo:10}}
                            </div>
                            <div><strong>{{post.owner.username}}</strong> shared on <strong><a href="/group/{{post.group.id}}">{{post.group.name}}</a></strong></div>
                            <!--<div class="small"><i class="fa fa-map-marker"></i> Medellin, Colombia</div>-->
                        </div>
                        <div class="panel-body">

                                <div id="components" class="col-lg-12 col-md-12 col-sm-12" ng-repeat="component in post.content_type.components track by $index " ng-init="comIndex= $index">

                                    <div  ng-if="component=='text'">

                                        <div class="col-lg-3 col-md-3 col-sm-4" ng-show="post.content_type.component_names[comIndex]">
                                            <strong><label>{{post.content_type.component_names[comIndex]}}:</label></strong>
                                        </div>
                                            {{post.components[comIndex].type_data.data}} 
                                           
                                        
                                    </div>
                                    <div ng-if="component=='longtext'">
                                        <div class="col-lg-3 col-md-3 col-sm-4" ng-show="post.content_type.component_names[comIndex]">
                                            <strong><label>{{post.content_type.component_names[comIndex]}}:</label></strong>
                                        </div>
                                            {{post.components[comIndex].type_data.data}} 
                                    </div>
                                    <div ng-if="component=='number'">
                                        <div class="col-lg-3 col-md-3 col-sm-4" ng-show="post.content_type.component_names[comIndex]">
                                            <strong><label>{{post.content_type.component_names[comIndex]}}:</label></strong>
                                        </div>
                                        
                                            {{post.components[comIndex].type_data.data | number : 2}}
                                           
                                    </div>
                                    <div ng-if="component=='datetime'">                                        
                                        <div class="col-lg-3 col-md-3 col-sm-4" ng-show="post.content_type.component_names[comIndex]">

                                        
                                            <strong><label>{{post.content_type.component_names[comIndex]}}:</label></strong>
                                        </div>

                                            {{post.components[comIndex].type_data.data}} 
                                    </div>
                                    <div ng-if="component=='video'">
                                        <div class="col-lg-3 col-md-3 col-sm-4" ng-show="post.content_type.component_names[comIndex]">

                                            <strong><label>{{post.content_type.component_names[comIndex]}}</label></strong>:
                                        </div>
                                            <a ng-href="{{post.components[comIndex].type_data.data}}">{{post.components[comIndex].type_data.data}}</a> 
                                    </div>
                                    <div ng-if="component=='image'">
                                        <div class="col-lg-3 col-md-3 col-sm-4" ng-show="post.content_type.component_names[comIndex]">
                                            <strong><label>{{post.content_type.component_names[comIndex]}}</label></strong>
                                        </div>
                                            <img ng-src="{{post.components[comIndex].type_data.data}}"></p> 
                                    </div>
                                    <div ng-if="component=='dropdown'">
                                         <p>
                                            <strong><label>{{post.content_type.component_names[comIndex]}}</label></strong>:
                                            {{post.components[comIndex].type_data.data}} 
                                        </p>
                                    </div>
                                    <div ng-if="component=='radiobutton'">
                                         <p>
                                            <strong><label>{{post.content_type.component_names[comIndex]}}</label></strong>:
                                            {{post.components[comIndex].type_data.data}} 
                                        </p>
                                    </div>      
                                </div>
                            <div class="actions">
                                <div class="btn-group">
                                        <button type="button" class="btn btn-link" ng-click="upVote(postIndex, post.id)"><i class="fa fa-thumbs-o-up"></i><span class="badge">{{post.likes}}</span></button>
                                        <button type="button" class="btn btn-link" ng-click="downVote(postIndex, post.id)"><i class="fa fa-thumbs-o-down"></i><span class="badge">{{post.dislikes}}</span> </button>
                                </div>
                            </div>
                            
                            <div class="media" ng-repeat="comment in post.comments">
                                <a class="pull-left" ng-href="/user/{{comment.owner.id}}">
                                    <img class="media-object img-rounded" ng-src="https://bootdey.com/img/Content/avatar/avatar2.png">
                                </a>
                                <div class="media-body">
                                    <div class="pull-right small">{{comment.created_date | date:'dd/MM/yyyy HH:mm'}}</div>
                                    <!--<h4 class="media-heading">Media heading</h4>-->
                                    <label>{{comment.owner.username}}</label><p>{{comment.text}}</p>
                                    
                                </div>
                            </div>
                         
                            
                        </div>
                        <!--
                        <div class="panel-footer">
                            <input class="form-control" ng-model="newcomment" ng-keyup="$event.keyCode == 13 && postComment(newcomment,postIndex, post.id)" placeholder="Write a comment...">
                        </div>-->
                    </div>
            

        </div>
        <div class="col-md-4">
            <div class="panel panel-info">
                 <div class="panel-heading">
                <div class="pull-left">
                    <h3 class="panel-title">Groups</h3>
                </div>
               
            </div><!-- /.panel-heading -->
            <div class="panel-body rounded">
                                  
                
                    <li class="list-group-item" ng-repeat="group in groups" ng-switch on="$index %3">
                        <a href="/group/{{group.id}}" ng-switch-when="0" ng-show="groups[$index]"><h5>{{groups[$index].name}}</h5></a>
                        <a href="/group/{{group.id}}" ng-switch-when="0" ng-show="groups[$index+1]"><h5>{{groups[$index+1].name}}</h5></a>
                        <a href="/group/{{group.id}}" ng-switch-when="0" ng-show="groups[$index+2]"><h5>{{groups[$index+2].name}}</h5></a>

                    </li>
                    <!--<img class="group-image img-rounded" src="https://raw.githubusercontent.com/olasitarska/djangogirls/gh-pages/resources/graphics/logo_square.png" alt=""> -->
                     <!--<div><strong>Django Girls</strong></div>-->
                    
                   
             
            </div>
                
            </div>
        </div>
       
    </div>
    <div class="row activity" ng-show="tab == 'about'" ng-init="edit = false">
        <div class="col-md-12">

            <div class="panel panel-default" ng-show="edit == false">
                <div class="panel-body">
                    <div class="box box-info">
                        <div class="box-body">
                            <div class="col-sm-6">
                                <!--
                                 <div  align="center"> <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive"> 
                                
                                      <input id="profile-image-upload" class="hidden" type="file">
                                      <div style="color:#999;" >click here to change profile image</div>
                                 </div>-->
                                <h4 ><strong>Basic Information </strong></h4>
                               
                
                            </div>
                            <div class="col-sm-6">
                                 <span class="pull-right">
                                    <a ng-show="me" ng-click="edit = true" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-info"><i class="glyphicon glyphicon-edit"></i>Edit Profile</a>
                                    <!--<a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>-->
                                </span>
                            </div>
                       
                            <div class="clearfix"></div>
                            <hr style="margin:5px 0 5px 0;">
                                
                                          
                            <div class="col-sm-5 col-xs-6 tital">First Name:</div><div class="col-sm-7 col-xs-6 ">{{user.profile.name}}</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital " >Last Name:</div><div class="col-sm-7">{{user.profile.lastname}}</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital " >Birthdate:</div><div class="col-sm-7">{{user.profile.birthdate}}</div>

                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital " >Gender:</div><div class="col-sm-7">{{user.profile.gender}}</div>

                            <div class="clearfix"></div>
                            <div class="bot-border"></div>


                            <div class="col-sm-5 col-xs-6 tital " >Location:</div><div class="col-sm-7">{{user.profile.location}}</div>

                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-7">
                                <!--
                                 <div  align="center"> <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive"> 
                                
                                      <input id="profile-image-upload" class="hidden" type="file">
                                      <div style="color:#999;" >click here to change profile image</div>
                                 </div>-->
                                <h4 ><strong>Interests</strong></h4>
                
                            </div>   
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>
                            <div ng-repeat="interest in user.profile.interests" ng-switch on="$index % 3">

                                <div class="col-sm-5 interest" ng-switch-when="0" ng-show="user.profile.interests[$index]">
                                     <a href="{{user.profile.interests[$index].url}}"><strong>#{{user.profile.interests[$index].label}}</strong></a>   
                                </div>
                                <div class="col-sm-5 interest" ng-switch-when="0" ng-show="user.profile.interests[$index+1]">
                                     <a href="{{user.profile.interests[$index+1].url}}"><strong>#{{user.profile.interests[$index+1].label}}</strong></a>   
                                </div>
                                <div class="col-sm-2 interest" ng-switch-when="0" ng-show="user.profile.interests[$index+2]">
                                     <a href="{{user.profile.interests[$index+2].url}}"><strong>#{{user.profile.interests[$index+2].label}}</strong></a>   
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>
                            
                            <div class="col-sm-7">
                                <!--
                                 <div  align="center"> <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive"> 
                                
                                      <input id="profile-image-upload" class="hidden" type="file">
                                      <div style="color:#999;" >click here to change profile image</div>
                                 </div>-->
                                <h4 ><strong>Contact</strong></h4>
                
                            </div>    
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>


                                          
                            <div class="col-sm-5 col-xs-6 tital " >Email:</div><div class="col-sm-7 col-xs-6 ">{{user.email}}</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital " >Phone:</div><div class="col-sm-7"> {{user.profile.contacts}}</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            
                        </div>
                    </div>
                </div>
            </div>        
            <div class="panel panel-default" ng-show="edit == true">
                <div class="panel-body">
                    <div class="box box-info">
                        <div class="box-body">
                            <div class="col-sm-6">
                                <!--
                                 <div  align="center"> <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive"> 
                                
                                      <input id="profile-image-upload" class="hidden" type="file">
                                      <div style="color:#999;" >click here to change profile image</div>
                                 </div>-->
                                <h4 ><strong>Basic Information </strong></h4>
                               
                
                            </div>
                            <div class="col-sm-6">
                                 <span class="pull-right">
                                    <a ng-click="edit = true" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-info"><i class="glyphicon glyphicon-edit"></i>Edit Profile</a>
                                    <!--<a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>-->
                                </span>
                            </div>
                       
                            <div class="clearfix"></div>
                            <hr style="margin:5px 0 5px 0;">
                            <div class="col-sm-5 col-xs-6 tital " >Profile Photo:</div>
                            <div class="col-sm-7">
                                <input id="profile" type="file" accept="image/*" class="form-control" file-upload>
                            </div>    
                                          
                            <div class="col-sm-5 col-xs-6 tital " >First Name:</div>
                            <div class="col-sm-7">
                                <input type="username" name="firstname" ng-model="user.profile.name" required class="form-control">    
                            </div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital " >Last Name:</div>
                            <div class="col-sm-7"> 
                                <input type="username" name="lastname" ng-model="user.profile.lastname" required class="form-control">
                            </div>
                              <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital " >Birthdate:</div>
                            <div class="col-sm-7">

                                <input id="date" type="text" datetime="yyyy-MM-dd" name="birthdate" ng-model="user.profile.birthdate" required class="form-control">
                            </div>

                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital " >Gender:</div>
                            <div class="col-sm-7">
                                <label class="radio-inline">
                                  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" ng-model="user.profile.gender"> Female
                                </label>
                                <label class="radio-inline">
                                  <input type="radio" name="inlineRadioOptions" id="inlineRadio2" ng-model="user.profile.gender"> Male
                                </label>
                                <label class="radio-inline">
                                  <input type="radio" name="inlineRadioOptions" id="inlineRadio3" ng-model="user.profile.gender"> Other
                                </label>
                            </div>

                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <!--
                            <div class="col-sm-5 col-xs-6 tital ">Location:</div>
                            <div class="col-sm-7">
                                <input type="location" name="location" ng-model="user.location" required class="form-control">
                            </div>-->

                            <div class="clearfix"></div>
                            <div class="bot-border"></div>


                            <div class="col-sm-7">
                                <!--
                                 <div  align="center"> <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive"> 
                                
                                      <input id="profile-image-upload" class="hidden" type="file">
                                      <div style="color:#999;" >click here to change profile image</div>
                                 </div>-->
                                <h4 ><strong>Interests</strong></h4>
                
                            </div>   
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>
                            <div ng-repeat="interest in user.profile.interests" ng-switch on="$index % 3">
                                <div class="col-sm-5 interest" ng-switch-when="0" ng-hide="user.profile.interests[$index] == null">

                                     <a href="{{user.profile.interests[$index].url}}"><strong>#{{user.profile.interests[$index].label}}</strong></a> 
                                     <a ng-click="removeInterest($index)" data-original-title="Remove this interest" data-toggle="tooltip"><i class="glyphicon glyphicon-remove"></i></a>  
                                </div>
                                <div class="col-sm-5 interest" ng-switch-when="0" ng-hide="user.profile.interests[$index+1] == null">
                                     <a href="{{user.profile.interests[$index+1].url}}"><strong>#{{user.profile.interests[$index+1].label}}</strong></a>
                                     <a ng-click="removeInterest($index+1)" data-original-title="Remove this interest" data-toggle="tooltip"><i class="glyphicon glyphicon-remove"></i></a>     
                                </div>
                                <div class="col-sm-2 interest" ng-switch-when="0" ng-hide="user.profile.interests[$index+2] == null">
                                     <a href="{{user.profile.interests[$index+2].url}}"><strong>#{{user.profile.interests[$index+2].label}}</strong></a>
                                     <a ng-click="removeInterest($index+2)" data-original-title="Remove this interest" data-toggle="tooltip"><i class="glyphicon glyphicon-remove"></i></a>     
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>
                            <!--
                            <div class="col-sm-12 col-xs-6 tital text-center">
                                <input type="interest" name="interest" ng-model="interest" required-class="form-control">
                                <button class="btn btn-success btn-default" ng-click="addInterest(interest)">Add interest</button>
                            </div>-->

                            <div class="input-group">
                                    <input type="text" ng-model="selected"  uib-typeahead="tag as tag.label for tag in searchTag($viewValue)  | limitTo:8 " class="form-control" typeahead-loading="loadingLocations" typeahead-no-results="noResults">
                                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                    <div ng-show="noResults">
                                      <i class="glyphicon glyphicon-remove"></i> No Results Found
                                    </div>
                                    <span class="input-group-btn">
                                        <button class="btn btn-success btn-default" ng-click="addInterest(selected); selected='';">Add interest</button>
                                      </span>
                            </div>
                            
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>
                            
                            <div class="col-sm-7">
                                <!--
                                 <div  align="center"> <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive"> 
                                
                                      <input id="profile-image-upload" class="hidden" type="file">
                                      <div style="color:#999;" >click here to change profile image</div>
                                 </div>-->
                                <h4 ><strong>Contact</strong></h4>
                
                            </div>    
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>


                                          
                            <div class="col-sm-5 col-xs-6 tital " >Email:</div>
                            <div class="col-sm-7 col-xs-6 ">
                               <input type="email" name="email" ng-model="user.email" required class="form-control">

                            </div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital " >Phone:</div>
                            <div class="col-sm-7">
                                <input type="phone" name="phone" ng-model="user.profile.contacts" required class="form-control">

                            </div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>
                            <button ng-click="editUser(user)" class="btn btn-success btn-default center-block">Save changes </button> 
                        </div>
                    </div>
                </div>
            </div>        
        </div>    
    </div>
     <div class="row activity" ng-show="tab == 'follower'">
        <div class="col-md-12" >
                  <div class="panel" id="followers">
                    <div class="panel-heading">
                      <h3 class="panel-title">
                        <i class="icon md-check" aria-hidden="true"></i> Followers
                      </h3>
                    </div>
                    <div class="panel-body">
                      <ul class="list-group list-group-dividered list-group-full">
                        <li class="list-group-item" ng-repeat="follower in followers">
                          <div class="media">
                            <div class="media-left">
                              <a class="avatar avatar-lg" href="javascript:void(0)">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                                <i></i>
                              </a>
                            </div>
                            
                            <div class="media-body">
                              <!--<div class="pull-right">
                                <button type="button" ng-if="!follower.isFollowed" class="btn btn-info btn-sm waves-effect waves-light">Follow</button>
                                <button type="button" ng-if="follower.isFollowed" class="btn btn-warning btn-sm waves-effect waves-light">Unfollow</button>
                              </div>-->
                              <div><h4><a class="name" href="/user/{{follower.id}}">{{follower.name}}{{follower.username}}</a></h4></div>
                              <small>Follows you</small>
                            </div>
                          </div>
                        </li>
                      </ul>
                  </div>
                </div>
                        
        </div>
    </div>
    <div class="row activity" ng-show="tab == 'following'">
        <div class="col-md-12" >
             <div class="panel" id="followers">
                    <!--<div class="panel-heading">
                      <h3 class="panel-title">
                        <i class="icon md-check" aria-hidden="true"></i>
                      </h3>
                    </div>-->
                    <div class="panel-body">
                      <ul class="list-group list-group-dividered list-group-full">
                        <li class="list-group-item" ng-repeat="following in followings">
                          <div class="media">
                            <div class="media-left">
                              <a class="avatar avatar-lg " href="javascript:void(0)">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                                <i></i>
                              </a>
                            </div>
                            <div class="media-body">
                              <div class="pull-right">
                                <button type="button" class="btn btn-success btn-sm waves-effect waves-light">Following</button>
                              </div>
                              <div><h4><a class="name" href="/user/{{following.id}}">{{following.name}}{{following.username}}</a></div></h4>
                              <small>Follows you</small>

                            </div>
                          </div>
                        </li>
                      </ul>
                  </div>
                </div>
        
        </div>
    </div>

    </div>
    </div>
</div>

<script>
    $(function() {
        $('#profile-image1').on('click', function() {
            $('#profile-image-upload').click();
        });
    });       
</script> 