<div class="panel panel-theme rounded shadow">
           <div class="panel panel-info">
            <div class="panel-heading">
                <div class="pull-left">
                    <h3 class="panel-title">Groups</h3>
                </div>
            </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body no-padding rounded">
                <ul class="list-group no-margin" ng-repeat="group in groups | orderBy: 'name' | limitTo: 10 ">

                    <li class="list-group-item">
                        <div class="col-sm-2">
                            <img ng-show="group.logo" src="{{group.logo}}" style="width: auto; height: auto; max-width:30px; max-height: 30px;"/>

                        </div>
                        <div class="col-sm-10">
                            <a href="/group/{{group.id}}" style="margin-left: 10px;">{{group.name}}</a>
                        </div>
                    </li>
                </ul>
                <div class="bot-border"></div>
                <ul class="list-group no-margin text-center">
                    <li class="list-group-item">
                        <!--<a class="" href="/groupcreate"><i class="fa fa-plus"></i> Create New Group</a>-->
                        <br/>
                        <button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#myModal">
                        Create Group
                        </button>
                    </li>

               </ul>

                 <ul class="list-group no-margin text-center">
                    <li class="list-group-item">
                        <!--<a class="" href="/groupcreate"><i class="fa fa-plus"></i> Create New Group</a>-->
                        
                    </li>

               </ul>

            </div>
           
          
</div>


<div class="modal fade" data-modal-color="lightblue" id="myModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Create Group</h4>
            </div>
            <div class="modal-body">
                <div class="inner-all">
              
                    
                    <form id="groupform">
                        <div class="form-group">
                            <label for="groupname">Name:</label>
                            <input type="text" class="form-control" ng-model="newgroup.name">
                        </div>
                        <div class="form-group">
                          <label for="groupdesc">Description:</label>
                          <textarea class="form-control" rows="5" ng-model="newgroup.description"></textarea>
                        </div>
                        <div class="form-group">
                                <label for="groupprivacy">Privacy:</label>
                            
                           
                                <label>
                                    <input type="radio" name="groupprivacy" value="public" ng-model="newgroup.is_public">
                                    Public
                                </label>
                            
                                <label>
                                    <input type="radio" name="groupprivacy" value="private" ng-model="newgroup.is_public">
                                    Private
                                </label>
                          
                        </div>
                        <!-- <div class="custom-file">
                        <label for="file">Group Icon:</label>
                            <input type="file" id="file"  class="custom-file-input" accept="image/*">
                            <span class="custom-file-control"></span>
                        </div> -->
                        <div class="form-group">
                                <label for="groupicon">Logo:</label>
                                <input type="text" class="form-control" ng-model="newgroup.logo">
                        </div>
                        <div class="form-group">
                                <label for="coverphoto">Cover Photo:</label>
                                <input type="text" class="form-control" ng-model="newgroup.cover_photo">
                        </div>
                        <div class="form-group">
                                <label for="tag">Tags:</label>
                                <div class="clearfix"></div>
                                <div class="col-sm-12">
                                    <div ng-repeat="tag in newgroup.tags track by $index" ng-switch on="$index % 3">
                                        <div class="col-sm-4 interest" ng-switch-when="0" ng-hide="newgroup.tags[$index] == null">
                                             <a ng-href="{{newgroup.tags[$index].url}}" data-toggle="tooltip" data-placement="right" title="{{newgroup.tags[$index].description}}" style="color: white;">#{{newgroup.tags[$index].label}}</a>
                                             <a ng-click="removeTag($index)" data-original-title="Remove this tag" data-toggle="tooltip"><i class="glyphicon glyphicon-remove"></i></a>  
                                        </div>
                                        <div class="col-sm-4 interest" ng-switch-when="0" ng-hide="newgroup.tags[$index+1] == null">
                                             <a ng-href="{{newgroup.tags[$index+1].url}}" data-toggle="tooltip" data-placement="right" title="{{newgroup.tags[$index+1].description}}" style="color: white;">#{{newgroup.tags[$index+1].label}}</a>
                                             <a ng-click="removeTag($index+1)" data-original-title="Remove this tag" data-toggle="tooltip"><i class="glyphicon glyphicon-remove"></i></a>  
                                        </div>
                                        <div class="col-sm-4 interest pull-right" ng-switch-when="0" ng-hide="newgroup.tags[$index+2] == null">
                                             <a ng-href="{{newgroup.tags[$index+2].url}}" data-toggle="tooltip" data-placement="right" title="{{newgroup.tags[$index+2].description}}" style="color: white;">#{{newgroup.tags[$index+2].label}}</a>
                                             <a ng-click="removeTag($index+2)" data-original-title="Remove this tag" data-toggle="tooltip"><i class="glyphicon glyphicon-remove"></i></a>  
                                        </div>
                                        <div class="clearfix"></div>

                                       
                                    </div>
                                </div>
                                <div class="input-group">
                                    <input type="text" ng-model="selected"  uib-typeahead="tag as tag.label for tag in searchTag($viewValue)  | limitTo:8 " class="form-control" typeahead-loading="loadingLocations" typeahead-no-results="noResults">
                                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                    <div ng-show="noResults">
                                      <i class="glyphicon glyphicon-remove"></i> No Results Found
                                    </div>
                                    <span class="input-group-btn">
                                        <button class="btn btn-success btn-default" ng-click="addTag(selected); selected='';">Add tag</button>
                                      </span>
                                </div>
                        </div>
                       
                        <br></br>
                       
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button id ="createGroup" type="button" class="btn btn-link" ng-click="add(newgroup)">Create Group</button>
            </div>
        </div>
    </div>
</div>    
        </div>
    </div>
</div>
<script type="text/javascript">
          

    
    $('#createGroup').click(function() {
        $('#myModal').modal('hide');
        console.log("modal hide");
    });

    $('#myModal').on('hidden.bs.modal', function () {
     $(this).find('form').trigger('reset');
    });  
          
          
</script>