<div controller="RecommendationCtrl">
    <div class="panel panel-info" ng-show="suggestedGroups.length != 0">
            <div class="panel-heading">
              <h3 class="panel-title">Suggested Groups</h3>
            </div>
            <div class="panel-body">
          
                <div class="row" ng-repeat="group in suggestedGroups track by $index| limitTo: 9" ng-switch on = "$index %3">
                    <div class="col-md-4" ng-switch-when="0" ng-show="suggestedGroups[$index]">
                        <a href="/group/{{suggestedGroups[$index].id}}">
                            <div ng-show="suggestedGroups[$index].logo_img" class="thumbnail">
                              <img ng-src="{{suggestedGroups[$index].logo_img}}" title="{{suggestedGroups[$index].name}}" alt="" >
                            </div>
                             <div ng-show="suggestedGroups[$index].logo_img == null" class="thumbnail">
                              <img ng-src="/assets/group.jpg" title="{{suggestedGroups[$index].name}}" alt="" >
                            </div>
                        </a>
                    </div>
                     <div class="col-md-4" ng-switch-when="0" ng-show="suggestedGroups[$index+1]">
                        <a href="/group/{{suggestedGroups[$index+1].id}}" >
                            <div ng-show="suggestedGroups[$index+1].logo_img" class="thumbnail">
                              <img ng-src="{{suggestedGroups[$index+1].logo_img}}" title="{{suggestedGroups[$index+1].name}}" alt="" >
                            </div>
                             <div ng-show="suggestedGroups[$index+1].logo_img == null" class="thumbnail">
                              <img ng-src="/assets/group.jpg" title="{{suggestedGroups[$index+1].name}}" alt="" >
                            </div>

                        </a>
                    </div>
                     <div class="col-md-4" ng-switch-when="0" ng-show="suggestedGroups[$index+2]">
                        <a href="/group/{{suggestedGroups[$index+2].id}}" >

                           <div ng-show="suggestedGroups[$index+2].logo_img" class="thumbnail">
                              <img ng-src="{{suggestedGroups[$index+2].logo_img}}" title="{{suggestedGroups[$index+2].name}}" alt="" >
                            </div>
                             <div ng-show="suggestedGroups[$index+2].logo_img == null" class="thumbnail">
                              <img ng-src="/assets/group.jpg" title="{{suggestedGroups[$index+2].name}}" alt="" >
                            </div>

                        </a>
                    </div>
                    
                </div>
              
              <div class="clearfix"></div>
              <a class="btn btn-primary" href="#">View All</a>
            </div>
          </div>

        </div>

    <div class="panel panel-info" ng-show="suggestedUsers.length != 0">
            <div class="panel-heading">
              <h3 class="panel-title">Suggested Users</h3>
            </div>
            <div class="panel-body">
              
                <div class="row" ng-repeat="user in suggestedUsers track by $index | limitTo: 9" ng-switch on = "$index %3">
                    <div class="col-md-4" ng-switch-when="0" ng-show="suggestedUsers[$index]"><a href="/user/{{suggestedUsers[$index].id}}" >
                    <div ng-show="suggestedUsers[$index].profile.photo" class="thumbnail">
                      <img ng-src="{{suggestedUsers[$index].profile.photo}}" title="{{suggestedUsers[$index].username}}" alt="" >
                    </div>
                     <div ng-show="suggestedUsers[$index].profile.photo==null" class="thumbnail">
                      <img ng-src="/assets/user.jpg" title="{{suggestedUsers[$index].username}}" alt="">
                    </div>

                    </a></div>
                     <div class="col-md-4" ng-switch-when="0" ng-show="suggestedUsers[$index+1]"><a href="/user/{{suggestedUsers[$index+1].id}}" >
                       <div ng-show="suggestedUsers[$index+1].profile.photo" class="thumbnail">
                      <img ng-src="{{suggestedUsers[$index+1].profile.photo}}" title="{{suggestedUsers[$index+1].username}}" alt="" >
                    </div>
                     <div ng-show="suggestedUsers[$index+1].profile.photo==null" class="thumbnail">
                      <img ng-src="/assets/user.jpg" title="{{suggestedUsers[$index+1].username}}" alt="">
                    </div>
                      </a>
                     </div>
                      <div class="col-md-4" ng-switch-when="0" ng-show="suggestedUsers[$index+2]"><a href="/user/{{suggestedUsers[$index+2].id}}" >
                         <div ng-show="suggestedUsers[$index+2].profile.photo" class="thumbnail">
                      <img ng-src="{{suggestedUsers[$index+2].profile.photo}}" title="{{suggestedUsers[$index+2].username}}" alt="" >
                    </div>
                     <div ng-show="suggestedUsers[$index+2].profile.photo==null" class="thumbnail">
                      <img ng-src="/assets/user.jpg" title="{{suggestedUsers[$index+2].username}}" alt="">
                    </div>

                     

                      </a></div>
                  
                </div>
              
              <div class="clearfix"></div>
              <a class="btn btn-primary" href="#">View All</a>
            </div>
  </div>

</div>
