<div class="modal fade" data-modal-color="lightblue" id="myTemplate" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">New Template</h4>
            </div>
            <div class="modal-body">
             <div class="inner-all">
				<form id="templateForm">
				  <div class="rowactivity">
					  <div class="col-lg-6 col-md-6 col-sm-8">
					  <h4 class="text-capitalize ng-binding text-center">Template Name</h4>
					  </div>
					<div class="col-lg-5 col-md-5 col-sm-7">
					  <input type="text" class="form-control" ng-model="req.name" placeholder="">
					  </div>
					  </div>
						<br></br>
						<br></br>
					<fieldset  data-ng-repeat="choice in choices">
					  <div class="rowactivity">
					  <div class="col-lg-6 col-md-6 col-sm-8">
					  <input type="text" class="form-control" ng-model="choice.name" name="" placeholder="">
					  </div>
					  <div class="col-lg-5 col-md-5 col-sm-7">
					  <select class="form-control" ng-model="choice.type">
						<option value="text">Text</option>
						<option value="longtext">Text Area</option>
						<option value="number">Numerical</option>
						<option value="datetime">Date</option>
						<option value="video">Video</option>
						<option value="image">Image</option>
						<option value="dropdown">Dropdown Box</option>
						<option value="checkbox">Check Box</option>
					</select>
					  </div>
					  <div class="col-lg-1 col-md-1 col-sm-1">
					  <button class="btn btn-danger"  ng-click="removeChoice(choice)">-</button>
					  </div>
					  </div>
            
            <div class="rowactivity" ng-if="(choice.type=='checkbox' || choice.type=='dropdown')">
            <br></br>
                <fieldset data-ng-repeat="x in choice.selection">
                  <div class="rowactivity">
                  <div class="col-lg-6 col-md-6 col-sm-8">
                  </div>
					        <div class="col-lg-5 col-md-5 col-sm-7">
					        <input type="text" class="form-control" ng-model="x.name" name="" placeholder="">
					        </div>
                  <div class="col-lg-1 col-md-1 col-sm-1">
					      <button class="btn btn-danger"  ng-click="removeSelection(choice,selection)">-</button>
					      </div>
                  </div>
                </fieldset>
            <button class="pull-right btn btn-success" ng-click="addNewSelection(choice)">Add selection</button>
            </div>
					  <br></br>
				   </fieldset>
				   <button class="btn btn-success" ng-click="addNewChoice()">Add fields</button>
				  
				   
					</form>
				</div>
            </div>
            <div class="modal-footer">
                <button type="button" id="createTemplate" ng-click="createTemplate()" class="btn btn-link">Save changes</button>
                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
          

    
    $('#createTemplate').click(function() {
        $('#myTemplate').modal('hide');
        console.log("modal hide");
    });

    $('#myTemplate').on('hidden.bs.modal', function () {
     $(this).find('form').trigger('reset');
    });  
          
          
</script>