<div class="modal fade" data-modal-color="lightblue" id="myTemplate" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">New Template</h4>
            </div>
            <div class="modal-body">
             <div class="inner-all">
                
                    <fieldset  data-ng-repeat="choice in choices">
                      <div class="rowactivity">
                      <div class="col-lg-6 col-md-6 col-sm-8">
                      <input type="text" class="form-control" ng-model="choice.name" name="" placeholder="">
                      </div>
                      <div class="col-lg-5 col-md-5 col-sm-7">
                      <select class="form-control" ng-model="choice.type">
                         <option>Text</option>
                         <option>TextArea</option>
                         <option>Date</option>
                         <option>Video</option>
                         <option>Image</option>
                      </select>
                      </div>
                      <div class="col-lg-1 col-md-1 col-sm-1">
                      <button class="btn btn-danger"  ng-click="removeChoice(choice)">-</button>
                      </div>
                      </div>
                      <br></br>
                   </fieldset>
                   <button class="btn btn-success" ng-click="addNewChoice()">Add fields</button>
                   <button class="btn btn-success" ng-click="">Create</button>
                   
                   
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link">Save changes</button>
                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>