

<div ng-controller="ListGroupsCtrl" class="container bootstrap snippets">
        

        <div class="row" style="margin-top:50px;">
                    <div class="col-md-8">
                            
                            <div class="input-group" style="margin:20px;">
                                    <input type="text" ng-model="selected"  ng-change="checkContent()" uib-typeahead="tag as tag.label for tag in searchGroup($viewValue)  | limitTo:8 " class="form-control"  typeahead-loading="loadingLocations" typeahead-no-results="noResults">
                                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                    <div ng-show="noResults">
                                      <i class="glyphicon glyphicon-remove"></i> No Results Found
                                    </div>
                                    <span class="input-group-btn">
                                        <button class="btn btn-success btn-default" ng-click="searchGroup(selected); selected='';">Search</button>
                                      </span>
                                </div>                  
                   
                    <div class="panel panel-theme rounded shadow">
                       <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h3 class="panel-title">All Groups</h3>
                            </div>
                        </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-body no-padding rounded">
                            <ul class="list-group no-margin" ng-repeat="group in groups">
            
                                 <li class="list-group-item"><a href="/group/{{group.id}}">{{group.name}}</a>
                                <img src="{{group.image}}" style="margin-left: 10px; width: auto; height: auto;max-width: 40x;max-height: 40px"/>                    
                                </li>
            
            
                               
                            </ul>
            
                        </div>
                       
                      
                    </div>
            
                </div>
    
                </div>

               
            </div>
        
        
