<div ng-controller="GroupTimelineCtrl" class="container bootstrap snippets">
    
    <div class="row background-container" style="margin-top: 60px;">
        <div class="col-lg-3 col-md-3 col-sm-4" ng-controller="GroupCtrl">
            <div class="panel rounded shadow">
            <div class="panel-body">
                <div class="inner-all" >
                    <ul class="list-unstyled">
                       
                        <li>
                            <div class="col-md-12" style="margin-top:20px;">
                                <h4 class="text-capitalize text-center"><strong>{{group.name}}</strong></h4>
                            </div>
                            <div class="text-center"><img src="{{group.logo}}" style="width: auto; height: auto;max-width: 200x;max-height: 200px"/></div>  
                            <div class=row>
                            
                            
                                                                           
                        </div>
                        </li>
                        <hr/>
                        <li>
                            <p></p>
                            <p><strong>Description:</strong> {{group.description}}</p>
                        </li>
                        <li>
                            <a href="" class="btn btn-info text-center btn-block">Join</a>
                        </li>
 
                    </ul>
                </div>
            </div>
            </div>
            <div ng-include src='"modules/group/grouppanel.view.html"' ng-controller='GroupCtrl'></div>
    

    
        </div>
       
        <div class="col-lg-9 col-md-9 col-sm-8">
    
    
        <div class="row activity">
    
                   
            <div class="col-md-12" >
                    <div class="profile-cover">
                            <div class="cover rounded shadow no-overflow">
                                <div class="inner-cover">

                                    <div class="btn-group cover-menu-mobile hidden-lg hidden-md">
                                        <button type="button" class="btn btn-theme btn-sm dropdown-toggle" data-toggle="dropdown">
                                            <i class="fa fa-bars"></i>
                                        </button>
                                        <ul class="dropdown-menu pull-right no-border" role="menu">
                                            <li class="active"><a href="#"><i class="fa fa-fw fa-clock-o"></i> <span>Timeline</span></a></li>
                                            <li><a href="#"><i class="fa fa-fw fa-user"></i> <span>About</span></a></li>
                                 
                                        </ul>
                                    </div>
                                    <img  src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Python_logo_and_wordmark.svg/2000px-Python_logo_and_wordmark.svg.png" class="img-responsive full-width" alt="cover" style="max-height:200px;">
                                </div>
                                <ul class="list-unstyled no-padding hidden-sm hidden-xs cover-menu" ng-init="tab='timeline'">
                                    <li  ng-click="tab = 'timeline'" ng-class="{'active': tab == 'timeline'}"><a href="#"><i class="fa fa-fw fa-clock-o"></i> <span>Timeline</span></a></li>
                                    <li ng-click="tab = 'about'" ng-class="{'active': tab == 'about'}" ><a href="#"><i class="fa fa-fw fa-user"></i> <span>About</span></a></li>
                                
                    
                                    
                                </ul>
                            </div><!-- /.cover -->
                        </div><!-- /.profile-cover -->
            </div>
            <div class="divider"></div>
            <div class="row activity" ng-show="tab == 'timeline'" >                  
            <div class="col-md-8" >
                <div ng-controller="PostCtrl">
                    <div class="panel panel-info" style="margin-top:5%;" >
                     <uib-tabset active="active">
                      <uib-tab index="0" heading="Post">
                      <div class="panel-body">
                            <form action="...">
                                <textarea class="form-control input-lg no-border" rows="2" placeholder="Write something" ng-model="content.comps['Post']"></textarea>
                            </form>
                        </div>
                      </uib-tab>
                      
                      <uib-tab index="$index + 1" ng-repeat="tab in templates" heading="{{tab.name}}" select="typeSelect(tab.id)">
                        <div class="panel-body">
                            <form action="...">
							
							<div ng-repeat="component in tab.components track by $index">
							
								<div class="row-activity">
								    <h4>{{tab.component_names[$index]}}</h4>
								
								</div>
								<div ng-if="component=='text'"class="row-activity">
								    <input class="form-control input-lg no-border" placeholder="" ng-model="content.comps[tab.component_names[$index]]"></input>
								</div>
								<div ng-if="component=='longtext'"class="row-activity">
								    <textarea class="form-control input-lg no-border" placeholder="" ng-model="content.comps[tab.component_names[$index]]"></textarea>
								</div>
								<div ng-if="component=='number'"class="row-activity">
								    <input type="number" class="form-control input-lg no-border" placeholder="" ng-model="content.comps[tab.component_names[$index]]"></input>
								</div>
								<div ng-if="component=='video'"class="row-activity">
								    <input class="form-control input-lg no-border" placeholder="" ng-model="content.comps[tab.component_names[$index]]"></input>
								</div>
								<div ng-if="component=='datetime'"class="row-activity">
    								<div class="container">
    									<div class="row">
    										<div class='col-sm-6'>
    											<div class="form-group">
    												<div class='input-group date' id='datetimepicker1'>
    													<input type='text' class="form-control" />
    													<span class="input-group-addon">
    														<span class="glyphicon glyphicon-calendar"></span>
    													</span>
    												</div>
    											</div>
    										</div>
    										<script type="text/javascript">
    											$(function () {
    												$('#datetimepicker1').datetimepicker();
    											});
    										</script>
    									</div>
    								</div>
								</div>
								


                            </div>    


                            </form>
                        </div>
                      </uib-tab>
                    </uib-tabset>
                        <div class="panel-footer">
                            <div class="btn-group">
                                <button type="button" class="btn btn-link"><i class="fa fa-map-marker"></i></button>
                                <button type="button" class="btn btn-link"><i class="fa fa-users"></i></button>
                                <button type="button" class="btn btn-link"><i class="fa fa-camera"></i></button>
                                <button type="button" class="btn btn-link"><i class="fa fa-video-camera"></i></button>
                                <button type="button" class="btn btn-link"><i class="fa fa-calendar-o"></i></button>
                            </div>
                            
                            <div class="pull-right" >

                           
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myTemplate">
                                New Template
                            </button>                            
								<button type="button" id="createPost" class="btn btn-success" ng-click="add(content)">Post</button>
                            </div>  
                        </div>
                    </div>
					


                       <div class="panel panel-info" ng-repeat="post in posts">
                            <div class="panel-heading">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-rounded">
                                <div class="pull-right">
                                    <i class="fa fa-calendar"></i>
                                    <p ng-bind="post.created_date | date:'dd/MM/yyyy HH:mm'"></p>

                                </div>
                                <div>
                                    <strong>{{post.owner.username}}</strong> 
                                </div>
                                <!--<div class="small"><i class="fa fa-map-marker"></i> Medellin, Colombia</div>-->
                            </div>
                            <div class="panel-body" >
                                <div id="components" class="col-lg-12 col-md-12 col-sm-12" ng-repeat="component in post.content_type.components track by $index ">

                                    <div  ng-if="component=='text'">

                                        <div class="col-lg-3 col-md-3 col-sm-4" ng-show="post.content_type.component_names[$index]">
                                            <strong><label>{{post.content_type.component_names[$index]}}:</label></strong>
                                        </div>
                                            {{post.components[$index].type_data.data}} 
                                           
                                        
                                    </div>
                                    <div ng-if="component=='longtext'">
                                        <div class="col-lg-3 col-md-3 col-sm-4" ng-show="post.content_type.component_names[$index]">
                                            <strong><label>{{post.content_type.component_names[$index]}}:</label></strong>
                                        </div>
                                            {{post.components[$index].type_data.data}} 
                                    </div>
                                    <div ng-if="component=='number'">
                                        <div class="col-lg-3 col-md-3 col-sm-4" ng-show="post.content_type.component_names[$index]">
                                            <strong><label>{{post.content_type.component_names[$index]}}:</label></strong>
                                        </div>
                                        
                                            {{post.components[$index].type_data.data | number : 2}}
                                           
                                    </div>
                                    <div ng-if="component=='datetime'">                                        
                                        <div class="col-lg-3 col-md-3 col-sm-4" ng-show="post.content_type.component_names[$index]">

                                        
                                            <strong><label>{{post.content_type.component_names[$index]}}:</label></strong>
                                        </div>

                                            {{post.components[$index].type_data.data}} 
                                    </div>
                                    <div ng-if="component=='video'">
                                        <div class="col-lg-3 col-md-3 col-sm-4" ng-show="post.content_type.component_names[$index]">

                                            <strong><label>{{post.content_type.component_names[$index]}}</label></strong>:
                                        </div>
                                            <a ng-href="{{post.components[$index].type_data.data}}">{{post.components[$index].type_data.data}}</a> 
                                    </div>
                                    <div ng-if="component=='image'">
                                        <div class="col-lg-3 col-md-3 col-sm-4" ng-show="post.content_type.component_names[$index]">
                                            <strong><label>{{post.content_type.component_names[$index]}}</label></strong>
                                        </div>
                                            <img ng-src="{{post.components[$index].type_data.data}}"></p> 
                                    </div>
                                    <div ng-if="component=='dropdown'">
                                         <p>
                                            <strong><label>{{post.content_type.component_names[$index]}}</label></strong>:
                                            {{post.components[$index].type_data.data}} 
                                        </p>
                                    </div>
                                    <div ng-if="component=='radiobutton'">
                                         <p>
                                            <strong><label>{{post.content_type.component_names[$index]}}</label></strong>:
                                            {{post.components[$index].type_data.data}} 
                                        </p>
                                    </div>      
                                </div>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-link"><i class="fa fa-thumbs-o-up"></i> Like</button>
                                        <button type="button" class="btn btn-link"><i class="fa fa-thumbs-o-down"></i> Dislike</button>
                                    </div>
                                <!--
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object img-rounded" src="https://bootdey.com/img/Content/avatar/avatar2.png">
                                    </a>
                                    <div class="media-body">
                                        <div class="pull-right small">3 hours ago</div>
                                        <h4 class="media-heading">Media heading</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                    </div>
                                </div>

                                -->
                            </div>
                            <div class="panel-footer">
                                <input  class="form-control" placeholder="Write a comment...">
                            </div>
                        </div>
                </div>
            </div>
            <div class="col-md-4">
            <!--<div>
                 <button style="width:250px; margin:10px;" class="btn followButton" rel="6">Follow</button>
                </div>-->
                
                <div class="panel panel-info" style="margin-top:20px;">
                     <div class="panel-heading">
                    <div class="pull-left">
                        <h3 class="panel-title">Upcoming Events</h3>

                    </div>
                   
                </div><!-- /.panel-heading -->

                            <p class="input-group" style="margin:10px;">
                              <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                              <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openModal()"><i class="glyphicon glyphicon-calendar"></i></button>
                              </span>
                            </p>
                    
                        <hr />

                        <!-- <button type="button" style="margin:5px; width:250px;"class="btn btn-primary">Add an Event</button> -->
                        
                </div>

                    
                <div class="panel panel-info">
                        <div class="panel-heading">
                          <h3 class="panel-title">Group Members</h3>
                        </div>
                        <div class="panel-body">
                          
                        <div class="row">
                            <div class="col-md-4"><a href="/profile" class="thumbnail"><img src="https://scontent-frt3-2.xx.fbcdn.net/v/t1.0-9/16174471_10210225282420728_2157042507789656179_n.jpg?oh=55c32619210a9bcbd2342cdc0a001fa3&oe=5A6D079F" alt=""></a></div>
                            <div class="col-md-4"><a href="/profile" class="thumbnail"><img src="assets/user.png" alt=""></a></div>
                             <div class="col-md-4"><a href="/profile" class="thumbnail"><img src="assets/user.png" alt=""></a></div>
                        </div>
                          
                        <div class="row">
                                <div class="col-md-4"><a href="/profile" class="thumbnail"><img src="assets/user.png" alt=""></a></div>
                                <div class="col-md-4"><a href="/profile" class="thumbnail"><img src="assets/user.png" alt=""></a></div>
                                 <div class="col-md-4"><a href="/profile" class="thumbnail"><img src="assets/user.png" alt=""></a></div>
                            </div>
                          
                            <div class="row">
                                    <div class="col-md-4"><a href="/profile" class="thumbnail"><img src="assets/user.png" alt=""></a></div>
                                    <div class="col-md-4"><a href="/profile" class="thumbnail"><img src="assets/user.png" alt=""></a></div>
                                     <div class="col-md-4"><a href="/profile" class="thumbnail"><img src="assets/user.png" alt=""></a></div>
                                </div>
                      
                          <div class="clearfix"></div>
                          <a class="btn btn-primary" href="#">View All Members</a>
                        </div>
                      </div>

                    </div>

            </div>

            <div class="row activity" ng-show="tab == 'about'">               
                    <div class="col-md-12">
                            <div class="panel panel-info" style="margin:20px;">
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                        
                                    </div> 
            
                            </div>
                    </div>
            </div>
           
        </div>

        </div>
        </div>

        <div ng-include src='"modules/templatecreate/templatecreate.view.html"' ng-controller='TemplateCreateCtrl'></div>

    </div>

    
          <script type="text/javascript">
          
          
            $('button.followButton').live('click', function(e){
                e.preventDefault();
                $button = $(this);
                if($button.hasClass('following')){
                                
                    $button.removeClass('following');
                    $button.removeClass('unfollow');
                    $button.text('Follow');
                } else {
                                
                    $button.addClass('following');
                    $button.text('Following');
                }
            });
            
            $('button.followButton').hover(function(){
                 $button = $(this);
                if($button.hasClass('following')){
                    $button.addClass('unfollow');
                    $button.text('Unfollow');
                }
            }, function(){
                if($button.hasClass('following')){
                    $button.removeClass('unfollow');
                    $button.text('Following');
                }
            });  
			

          
          </script>

