

<div ng-controller="ProfileCtrl" class="container bootstrap snippets">
<div class="row" style="margin-top: 60px;" ng-model="user" ng-init="user.fullname='Gokce Uludogan'; user.job='Student'">
    <div class="col-lg-3 col-md-3 col-sm-4">
        <div class="panel rounded shadow">
            <div class="panel-body">
                <div class="inner-all" >
                    <ul class="list-unstyled">
                        <li class="text-center">
                            <img data-no-retina="" class="img-circle img-responsive img-bordered-primary" src="https://scontent-frt3-2.xx.fbcdn.net/v/t1.0-9/16174471_10210225282420728_2157042507789656179_n.jpg?oh=55c32619210a9bcbd2342cdc0a001fa3&oe=5A6D079F" alt="John Doe">
                        </li>
                        <li class="text-center">
                            <h4 class="text-capitalize">{{user.fullname}}</h4>
                            <p class="text-muted text-capitalize">{{user.job}}</p>
                        </li>
                        <li>
                            <a href="" class="btn btn-info text-center btn-block">Follow</a>
                        </li>
                        <li><br></li>
                        <li>
                            <div class="btn-group-vertical btn-block">
                                <a href="" class="btn btn-default"><i class="fa fa-cog pull-right"></i>Edit Account</a>
                                <a href="" class="btn btn-default"><i class="fa fa-sign-out pull-right"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!-- /.panel -->

        <div class="panel panel-theme rounded shadow">
            <div class="panel-heading">
                <div class="pull-left">
                    <h3 class="panel-title">Contact</h3>
                </div>
                <div class="pull-right" ng-init="user.facebook='https://www.facebook.com/uludogangokce'; user.twitter='https://twitter.com/kybisss'">
                    <a href="user.facebook" ng-show="user.facebook" class="btn btn-sm btn-info"><i class="fa fa-facebook"></i></a>
                    <a href="user.twitter" ng-show="user.twitter" class="btn btn-sm btn-info"><i class="fa fa-twitter"></i></a>
                    <a href="user.google" ng-show="user.google" class="btn btn-sm btn-info"><i class="fa fa-google-plus"></i></a>
                </div>
                <div class="clearfix"></div>
            </div><!-- /.panel-heading -->
            <div class="panel-body no-padding rounded">
                <ul class="list-group no-margin">
                    <li class="list-group-item"><i class="fa fa-envelope mr-5"></i> {{user.email}}</li>
                    <li class="list-group-item"><i class="fa fa-globe mr-5"></i> {{user.website}}</li>
                    <li class="list-group-item"><i class="fa fa-phone mr-5"></i> {{user.phone}}</li>
                </ul>
                 
            </div><!-- /.panel-body -->
        </div><!-- /.panel -->

    </div>
    <div class="col-lg-9 col-md-9 col-sm-8">

    <div class="profile-cover">
        <div class="cover rounded shadow no-overflow">
            <div class="inner-cover">
                <!-- Start offcanvas btn group menu: This menu will take position at the top of profile cover (mobile only). -->
                <div class="btn-group cover-menu-mobile hidden-lg hidden-md">
                    <button type="button" class="btn btn-theme btn-sm dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bars"></i>
                    </button>
                    <ul class="dropdown-menu pull-right no-border" role="menu">
                        <li class="active"><a href="#"><i class="fa fa-fw fa-clock-o"></i> <span>Timeline</span></a></li>
                        <li><a href="#"><i class="fa fa-fw fa-user"></i> <span>About</span></a></li>
                        <li><a href="#"><i class="fa fa-fw fa-users"></i><span>Friends </span><small>(23)</small></a></li>
                        <li><a href="#"><i class="fa fa-fw fa-users"></i> <span>Groups</span> <small>(7)</small></a></li>
                    </ul>
                </div>
                <img  src="http://bootdey.com/img/Content/flores-amarillas-wallpaper.jpeg" class="img-responsive full-width" alt="cover" style="max-height:200px;">
            </div>
            <ul class="list-unstyled no-padding hidden-sm hidden-xs cover-menu" ng-init="tab='timeline'">
                <li  ng-click="tab = 'timeline'" ng-class="{'active': tab == 'timeline'}"><a href="#"><i class="fa fa-fw fa-clock-o"></i> <span>Timeline</span></a></li>
                <li ng-click="tab = 'about'" ng-class="{'active': tab == 'about'}" ><a href="#"><i class="fa fa-fw fa-user"></i> <span>About</span></a></li>
                <li ng-click="tab = 'friends'" ng-class="{'active': tab == 'friends'}"> <a href="#"><i class="fa fa-fw fa-users"></i><span> Friends </span><small>(23)</small></a></li>
                <li  ng-click="tab = 'groups'" ng-class="{'active': tab == 'groups'}"><a href="#"><i class="fa fa-fw fa-users"></i><span>Groups</span><small>(7)</small></a></li>

                
            </ul>
        </div><!-- /.cover -->
    </div><!-- /.profile-cover -->
    <div class="divider"></div>
    <!--
    <div class="panel rounded shadow">
        <form action="...">
            <textarea class="form-control input-lg no-border" rows="2" placeholder="What are you doing?..."></textarea>
        </form>
        <div class="panel-footer">
            <button class="btn btn-success pull-right mt-5">POST</button>
            <ul class="nav nav-pills">
                <li><a href="#"><i class="fa fa-user"></i></a></li>
                <li><a href="#"><i class="fa fa-map-marker"></i></a></li>
                <li><a href="#"><i class="fa fa-camera"></i></a></li>
                <li><a href="#"><i class="fa fa-smile-o"></i></a></li>
            </ul>--><!-- /.nav nav-pills -->
        <!--</div>--><!-- /.panel-footer -->
    <!--</div>
    --><!-- /.panel -->
    <div class="row activity" ng-show="tab == 'timeline'">
        <div class="col-md-8" >
                 <div class="panel panel-info">
                    <div class="panel-body">
                        <form action="...">
                            <textarea class="form-control input-lg no-border" rows="2" placeholder="Write something"></textarea>
                        </form>
                    </div>
                    <div class="panel-footer">
                        <div class="btn-group">
                            <button type="button" class="btn btn-link"><i class="fa fa-map-marker"></i></button>
                            <button type="button" class="btn btn-link"><i class="fa fa-users"></i></button>
                            <button type="button" class="btn btn-link"><i class="fa fa-camera"></i></button>
                            <button type="button" class="btn btn-link"><i class="fa fa-video-camera"></i></button>
                            <button type="button" class="btn btn-link"><i class="fa fa-calendar-o"></i></button>
                        </div>
                        
                        <div class="pull-right">
                            <button type="button" class="btn btn-success">submit</button>
                        </div>  
                    </div>
                </div>
               <div class="panel panel-info">
                <div class="panel-heading">
                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-rounded">
                    <div class="pull-right text-right">
                        <i class="fa fa-calendar"></i><br> 3 hours ago
                    </div>
                    <div><strong>John Doe</strong></div>
                    <div class="small"><i class="fa fa-map-marker"></i> Medellin, Colombia</div>
                </div>
                <div class="panel-body">
                    <img src="https://lorempixel.com/500/333/nature/2" class="img-responsive">
                    <div class="actions">
                        <div class="btn-group">
                            <button type="button" class="btn btn-link"><i class="fa fa-thumbs-o-up"></i> Like</button>
                            <button type="button" class="btn btn-link"><i class="fa fa-share"></i> Share</button>
                        </div>
                        <div class="pull-right"><strong>1.789</strong> People liked this</div>      
                    </div>  
                    
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object img-rounded" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                        </a>
                        <div class="media-body">
                            <div class="pull-right small">3 hours ago</div>
                            <h4 class="media-heading">Media heading</h4>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        </div>
                    </div>
                    
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object img-rounded" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                        </a>
                        <div class="media-body">
                            <div class="pull-right small">3 hours ago</div>
                            <h4 class="media-heading">Media heading</h4>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        </div>
                    </div>
                    
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object img-rounded" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                        </a>
                        <div class="media-body">
                            <div class="pull-right small">3 hours ago</div>
                            <h4 class="media-heading">Media heading</h4>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        </div>
                    </div>
                    
                </div>
                <div class="panel-footer">
                    <input  class="form-control" placeholder="Write a comment...">
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="panel panel-info">
                 <div class="panel-heading">
                <div class="pull-left">
                    <h3 class="panel-title">Groups</h3>
                </div>
               
            </div><!-- /.panel-heading -->
            <div class="panel-body rounded">
                    
                
                    <!--<li class="list-group-item"><a href="group.groupID"><h5>Django Girls</h5></a></li>-->
                    <img class="group-image img-rounded" src="https://raw.githubusercontent.com/olasitarska/djangogirls/gh-pages/resources/graphics/logo_square.png" alt=""> 
                     <div><strong>Django Girls</strong></div>
                    
                   
             
            </div>
                
            </div>
        </div>
       
    </div>
    </div>
    </div>
</div>